<div class="container">
 <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
  <div class="checkout__form">
    <h4>Thanh Toán</h4>
    <!-- <form action="#"> -->
        <div class="row">
            <div class="col-lg-8 col-md-6">
              <div class="checkout__input">
                <p>Họ và tên<span>*</span></p>
                <input type="text" placeholder="Họ và tên" formControlName="ho_ten" class="checkout__input__add">
                <span class="col alert alert-danger" role="alert"
                   *ngIf="(orderForm.controls.ho_ten.errors?.required
                           && orderForm.controls.ho_ten.touched) && orderForm.controls.ho_ten.touched" >
                           Họ và tên không được để trống!
                 </span>
              </div>
                <div class="checkout__input">
                    <p>Địa chỉ<span>*</span></p>
                    <input type="text" placeholder="Địa chỉ" formControlName="dia_chi" class="checkout__input__add">
                    <span class="col alert alert-danger" role="alert"
                    *ngIf="(orderForm.controls.dia_chi.errors?.required
                            && orderForm.controls.dia_chi.touched) && orderForm.controls.dia_chi.touched" >
                            Địa chỉ không được để trống!
                    </span>
                </div>
                <div class="checkout__input">
                  <p>Số điện thoại<span>*</span></p>
                  <input type="text" placeholder="Số điện thoại" formControlName="sdt" class="checkout__input__add">
                  <span class="col alert alert-danger" role="alert"
                  *ngIf="(orderForm.controls.sdt.errors?.required
                          && orderForm.controls.sdt.touched) && orderForm.controls.sdt.touched" >
                          Số điện thoại không được để trống!
                  </span>
                </div>

            </div>
            <div class="col-lg-4 col-md-6">
                <div class="checkout__order">
                    <h4>Đơn hàng của bạn</h4>
                    <div class="checkout__order__products">Sản phẩm<span>Total</span></div>

                    <ul *ngFor="let it of items">
                        <li>{{it.product_name}} <span>{{it.product_price}}</span></li>
                    </ul>
                    <br>
                    <br>
                    <div class="checkout__order__total">Total <span>{{total | currency:"VND"}}</span></div>
                    <button type="submit" class="site-btn">ĐẶT HÀNG TẬN NƠI</button>
                </div>
            </div>
        </div>
    <!-- </form> -->
  </div>
 </form>
</div>

