<div class="container">
<div class="row">
<div class="col-lg-4 col-md-5">
  <div class="blog__sidebar__item">
    <h4>Tin tức gần đây</h4>
    <div class="blog__sidebar__recent">
        <a href="#" class="blog__sidebar__recent__item">
            <div class="blog__sidebar__recent__item__pic">
                <img src="img/blog/sidebar/sr-1.jpg" alt="">
            </div>
            <div class="blog__sidebar__recent__item__text">
                <h6>Cô gái cao 160cm có thể mặc theo một loạt phong cách Hàn Quốc mùa thu siêu đẹp này</h6>
                <span>25/11/2020</span>
            </div>
        </a>
        <a href="#" class="blog__sidebar__recent__item">
            <div class="blog__sidebar__recent__item__pic">
                <img src="img/blog/sidebar/sr-2.jpg" alt="">
            </div>
            <div class="blog__sidebar__recent__item__text">
                <h6>6 sai lầm khi chọn quần ống suông khiến các chị em luộm thuộm, kém sang</h6>
                <span>30/11/2020</span>
            </div>
        </a>
        <a href="#" class="blog__sidebar__recent__item">
            <div class="blog__sidebar__recent__item__pic">
                <img src="img/blog/sidebar/sr-3.jpg" alt="">
            </div>
            <div class="blog__sidebar__recent__item__text">
                <h6>Xu hướng phụ nữ săn lùng những chiếc túi xách với lịch sử lâu đời của các nhà mốt nổi tiếng </h6>
                <span>22/11/2020</span>
            </div>
        </a>
    </div>
</div>
<div class="blog__sidebar__item">
  <h4>Mẹo hay</h4>
  <div class="blog__sidebar__recent">
      <a href="#" class="blog__sidebar__recent__item">
          <div class="blog__sidebar__recent__item__pic">
              <img src="img/blog/sidebar/sr-1.jpg" alt="">
          </div>
          <div class="blog__sidebar__recent__item__text">
              <h6>Du lịch Tam Đảo mặc gì theo mùa đẹp NGẤT NGÂY cho quý cô</h6>
              <span>25/11/2020</span>
          </div>
      </a>
      <a href="#" class="blog__sidebar__recent__item">
          <div class="blog__sidebar__recent__item__pic">
              <img src="img/blog/sidebar/sr-2.jpg" alt="">
          </div>
          <div class="blog__sidebar__recent__item__text">
              <h6>Mặc gì đi du lịch Buôn Mê Thuột đẹp RỰC RỠ giữa đồng hoa dã quỳ</h6>
              <span>30/11/2020</span>
          </div>
      </a>
      <a href="#" class="blog__sidebar__recent__item">
          <div class="blog__sidebar__recent__item__pic">
              <img src="img/blog/sidebar/sr-3.jpg" alt="">
          </div>
          <div class="blog__sidebar__recent__item__text">
              <h6>Đi Huế mặc gì để xinh đẹp như NÀNG THƠ của biết bao thi sĩ </h6>
              <span>22/11/2020</span>
          </div>
      </a>
  </div>
</div>
</div>

<div class="col-lg-8 col-md-7">
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="blog__item">
              <div class="blog__item__pic">
                  <img src="/assets/product/61.jpg" style="width: 200px; height: 300px;" alt="">
              </div>
              <div class="blog__item__text">
                  <ul>
                      <li><i class="fa fa-calendar-o"></i> 15/06/2020</li>
                      <li><i class="fa fa-comment-o"></i> 5</li>
                  </ul>
                  <h5><a href="#">Xu hướng thời trang năm 2020</a></h5>
                  <p>Năm 2020 với các xu hướng thời trang mới mẻ, sáng tạo, mang lại cho các bạn nữ sự thoải mái nhưng không kém phần xinh đẹp </p>
                  <a href="#" class="blog__btn">ĐỌC THÊM <span class="arrow_right"></span></a>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="blog__item">
              <div class="blog__item__pic">
                  <img src="/assets/product/62.jpg" style="width: 200px; height: 300px;" alt="">
              </div>
              <div class="blog__item__text">
                  <ul>
                      <li><i class="fa fa-calendar-o"></i> 20/07/2020</li>
                      <li><i class="fa fa-comment-o"></i> 5</li>
                  </ul>
                  <h5><a href="#">Chất umi là gì và cách TẬN DỤNG vải umi TỐI ƯU hơn hẳn</a></h5>
                  <p>Chất vải umi là một loại vải dệt nên từ tơ sợi nhân tạo và sợi tự nhiên có chiết xuất từ gỗ cây tre hoặc nứa. Sợi vải umi là sợi vải bán tổng hợp. </p>
                  <a href="#" class="blog__btn">ĐỌC THÊM <span class="arrow_right"></span></a>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="blog__item">
              <div class="blog__item__pic">
                  <img src="/assets/product/63.jpg" style="width: 200px; height: 300px;" alt="">
              </div>
              <div class="blog__item__text">
                  <ul>
                      <li><i class="fa fa-calendar-o"></i> 20/11/2020</li>
                      <li><i class="fa fa-comment-o"></i> 5</li>
                  </ul>
                  <h5><a href="#">Vải borip là vải gì và những ứng dụng ÍT AI BIẾT về borip</a></h5>
                  <p>Vải borip (hay vải bo gân) là loại vải có hình dạng bên ngoài là đường sườn nổi và kèm theo đường rãnh chìm. Cả hai đường đan xen kẽ nhau tạo thành hình tấm vải borip hoàn chỉnh. Nếu được zoom lên tương đối sẽ nhìn thấy giống cách đan len thông thường. Vải đặc tính có giãn cực tốt. </p>
                  <a href="#" class="blog__btn">ĐỌC THÊM <span class="arrow_right"></span></a>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="blog__item">
              <div class="blog__item__pic">
                  <img src="/assets/product/64.jpg" style="width: 200px; height: 300px;" alt="">
              </div>
              <div class="blog__item__text">
                  <ul>
                      <li><i class="fa fa-calendar-o"></i> 29/11/2020</li>
                      <li><i class="fa fa-comment-o"></i> 5</li>
                  </ul>
                  <h5><a href="#">Top 7+ Cách phối đồ với giày sneakers</a></h5>
                  <p>Học nhanh cách phối đồ với giày sneakers nữ với nhiều màu giày sneakers như trắng, xanh, trắng xám, đen,.. giúp bạn nữ thay đổi diện mạo độc đáo hơn mà không kém phần quyến rũ </p>
                  <a href="#" class="blog__btn">ĐỌC THÊM <span class="arrow_right"></span></a>
              </div>
          </div>
      </div>

      <!-- <div class="col-lg-12">
          <div class="product__pagination blog__pagination">
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#"><i class="fa fa-long-arrow-right"></i></a>
          </div>
      </div> -->
  </div>
</div>
</div>
</div>
